<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org"
	th:replace="~{/user/layout/layout.html :: dynamic(~{::body})}"
>
<head>

</head>

<body> 
	<!-- BREADCRUMB -->
	<div id="breadcrumb" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<h3 class="breadcrumb-header">QUÊN MẬT KHẨU</h3>
					<ul class="breadcrumb-tree">
						<li><a href="#">Home</a></li>
						<li class="active">Quên mật khẩu</li>
					</ul>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /BREADCRUMB -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-7">
					<!-- Billing Details -->
					<div class="billing-details">
						<div class="section-title">
							<h3 class="title">nhập mail đăng ký để lấy lại mật khẩu...</h3>
							<h4 th:text="${error}"></h4>
						</div>
						<form action="/home/forgot-password" method="post">
						<div class="form-group">
							<input class="input" type="text" name="email" placeholder="Email">
						</div>   
						<div class="form-group">
							<button class="primary-btn col-md-12">Lấy lại mật khẩu</button>
						</div>
						</form>
					</div>
					<!-- /Billing Details -->

				</div>

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

</body>

</html>